.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.sala-heading {
    margin-top: -30vh;
    font-size: 30px;
    font-weight: bold;
}

.custom-btn {
    width: 100px;
    margin: 5px;
    margin-top: 50vh;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    /* Adjust the line-height to center the text vertically within the button */
}

.btn-primary{
    margin: 10px;
}

.btn-secondary{
    background-color: #007bff;
}
